<h1 class="center" appTitle> Liste de pokemon le  {{ 2|pokemonDay}}</h1>

<input #input (keyup.enter)="selectPokemon(input.value)" type="number">

<div class="center">
    <p *ngIf="pokemonSelected">
    vous avez selectionné le pokemon {{pokemonSelected.name}}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokemon n'a été selectionné
</p>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let Pokemon of pokemonLists" class="col m3 s6" >
            <div class="card horizontal" pkmnBorderCard >
                <div class="card-image">
                    <img id="pkmImg" src={{Pokemon.picture}}>
                </div>
                   <div class="card-stacked">
                <div class="card-content">
                    <p>{{Pokemon.name}}</p>
                    <p><small>{{Pokemon.created | date:"dd/mm/yyyy"}}</small></p>
                    <span *ngFor="let type of Pokemon.types"
                     class="{{type | pokemonTypeColor}}">
                        {{type}}
                     </span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>